@media (max-width:768px) {
  .style0 {
    background-image: linear-gradient(0deg,#066bff 0,#01b8ff 100%);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px;
    align-items: center;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-top: 27px;
    width: 293px;
    height: 25px;
    align-items: flex-end
  }
  .style11 {
    margin-left: 0;
    width: 26px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 8px;
    height: 8px
  }
  .style8 {
    opacity: .3490196168422699;
    margin-left: 92px
  }
  .style10,
  .style9 {
    margin-left: 12px
  }
  .style10 {
    opacity: .3490196168422699
  }
  .style7 {
    margin-left: 99px;
    width: 25px;
    height: 100%
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 7px;
    width: 323px;
    height: 15px;
    align-items: stretch
  }
  .style12 {
    color: #fff;
    font-size: .625em;
    margin-left: 0
  }
  .style12,
  .style4,
  .style5,
  .style6 {
    font-family: 'Open Sans',serif;
    font-weight: 700
  }
  .style6 {
    color: #fff;
    margin-left: 212px;
    font-size: .625em
  }
  .style4,
  .style5 {
    color: rgba(199,231,253,.3019607961177826);
    font-size: 1.1875em;
    margin-top: 31px;
    height: 28px
  }
  .style5 {
    color: rgba(199,231,253,.7490196228027344);
    margin-top: 0
  }
  .style2 {
    background-color: #5cc1ff;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    display: flex;
    margin-top: 36px;
    width: 165px;
    height: 165px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    width: 101px;
    height: 109px
  }
  .style1 {
    margin-top: 90px;
    width: 61px;
    height: 61px
  }
  .style19 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 309px;
    flex-direction: column
  }
  .iphone6782container1row0 {
    position: relative;
    display: flex;
    margin-left: 156px;
    margin-top: 38px;
    width: 203px;
    height: 20px;
    flex-shrink: 0
  }
  .style25 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: .875em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style21 {
    position: relative;
    margin-left: 120px;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    flex-shrink: 0
  }
  .iphone6782container1row1 {
    display: flex;
    margin-top: 13px;
    width: 51px;
    height: 8px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style22,
  .style24 {
    opacity: .3490196168422699
  }
  .style22,
  .style23,
  .style24 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 8px
  }
  .style20 {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5019607843137255);
    position: relative;
    margin-top: 18px;
    width: 205px;
    height: 301px;
    align-self: center;
    flex-shrink: 0
  }
  .style13 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 357px;
    flex-direction: column
  }
  .style17,
  .style18 {
    font-family: 'Open Sans',serif
  }
  .style18 {
    margin-left: 132px;
    color: #fe5511;
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 128px;
    height: 30px
  }
  .style17 {
    color: #202020;
    font-size: .8125em;
    font-weight: 600;
    margin-top: 6px;
    height: 19px;
    align-self: center
  }
  .style14 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 28px;
    width: 188px;
    height: 49px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: .8125em;
    font-weight: 700;
    height: 19px
  }
  .style32 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 309px;
    flex-direction: column
  }
  .iphone6783container1row0 {
    position: relative;
    display: flex;
    margin-left: 156px;
    margin-top: 38px;
    width: 203px;
    height: 20px;
    flex-shrink: 0
  }
  .style38 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: .875em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style34 {
    position: relative;
    margin-left: 120px;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    flex-shrink: 0
  }
  .iphone6783container1row1 {
    display: flex;
    margin-top: 13px;
    width: 51px;
    height: 8px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style35,
  .style37 {
    opacity: .3490196168422699
  }
  .style35,
  .style36,
  .style37 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 8px
  }
  .style33 {
    position: relative;
    margin-top: 14px;
    width: 216px;
    height: 325px;
    align-self: center;
    flex-shrink: 0
  }
  .style26 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 357px;
    align-items: center;
    flex-direction: column
  }
  .style30,
  .style31 {
    color: #65c;
    font-family: 'Open Sans',serif;
    font-size: 1.1875em;
    font-weight: 700;
    margin-top: 130px;
    height: 28px
  }
  .style30 {
    color: #202020;
    font-size: .8125em;
    font-weight: 600;
    margin-top: 4px;
    height: 19px
  }
  .style27 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 30px;
    width: 188px;
    height: 49px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style28 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: .8125em;
    font-weight: 700;
    height: 19px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style65 {
    background-color: #fff;
    display: flex;
    margin-left: 1px;
    margin-top: 0;
    width: 374px;
    height: 236px;
    flex-direction: column
  }
  .iphone6784container1row0 {
    display: flex;
    margin-left: 16px;
    margin-top: 22px;
    width: 219px;
    height: 23px;
    align-items: stretch
  }
  .style70 {
    margin-left: 0;
    width: 17px
  }
  .style69 {
    color: #202020;
    font-family: 'Open Sans',serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 105px
  }
  .iphone6784container1row1 {
    display: flex;
    margin-top: 12px;
    width: 50px;
    height: 8px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style66,
  .style67,
  .style68 {
    background-color: #b4b4b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 8px
  }
  .style67 {
    background-color: #08f
  }
  .style71 {
    margin-top: 36px;
    width: 67px;
    height: 64px;
    align-self: center
  }
  .style72 {
    color: #0086ff;
    font-family: 'Open Sans',serif;
    font-size: .8125em;
    font-weight: 700;
    margin-top: 28px;
    height: 19px;
    align-self: center
  }
  .style73 {
    background-color: #f55511;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 49px;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784container5row0 {
    display: flex;
    margin-left: 16px;
    width: 325px;
    height: 23px;
    align-items: stretch
  }
  .style76 {
    margin-left: 0;
    width: 21px
  }
  .style74,
  .style75 {
    color: #fefefe;
    font-family: Arial,serif;
    font-size: .875em;
    margin-left: 9px
  }
  .style74 {
    font-family: 'Open Sans',serif;
    font-size: 1em;
    font-weight: 600;
    margin-left: 104px
  }
  .style40 {
    background-color: #0086ff;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    display: flex;
    margin-left: 33px;
    margin-top: 16px;
    width: 309px;
    height: 42px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784btnprimaryfullrow0 {
    display: flex;
    width: 96px;
    height: 20px;
    align-items: stretch
  }
  .style41 {
    margin-left: 0;
    width: 13px
  }
  .style42 {
    color: #fefefe;
    font-family: 'Open Sans',serif;
    font-size: .875em;
    font-weight: 700;
    margin-left: 14px
  }
  .iphone6784row3 {
    display: flex;
    margin-left: 17px;
    margin-top: 18px;
    width: 350px;
    height: 67px
  }
  .style44 {
    margin-left: 0;
    width: 67px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row3column1 {
    display: flex;
    margin-left: 13px;
    width: 93px;
    height: 59px;
    flex-direction: column
  }
  .style50 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .6875em;
    font-weight: 700;
    margin-top: 0;
    height: 17px
  }
  .style48,
  .style49 {
    color: #757575;
    font-family: Arial,serif;
    font-size: .625em;
    margin-top: 10px;
    height: 12px
  }
  .style48 {
    color: #9a9a9a;
    font-size: .5em;
    height: 9px
  }
  .style46 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 34px;
    width: 37px;
    height: 37px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    width: 9px;
    height: 11px
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuey8n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 24px;
    width: 80px;
    height: 24px;
    align-self: center
  }
  .iphone6784row4 {
    display: flex;
    margin-left: 17px;
    margin-top: 24px;
    width: 350px;
    height: 67px
  }
  .style51 {
    margin-left: 0;
    width: 67px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row4column1 {
    display: flex;
    margin-left: 13px;
    width: 93px;
    height: 59px;
    flex-direction: column
  }
  .style57 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .6875em;
    font-weight: 700;
    margin-top: 0;
    height: 17px
  }
  .style55,
  .style56 {
    color: #757575;
    font-family: Arial,serif;
    font-size: .625em;
    margin-top: 10px;
    height: 12px
  }
  .style55 {
    color: #9a9a9a;
    font-size: .5em;
    height: 9px
  }
  .style53 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 34px;
    width: 37px;
    height: 37px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style54 {
    width: 9px;
    height: 11px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuezha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 24px;
    width: 80px;
    height: 24px;
    align-self: center
  }
  .iphone6784row5 {
    display: flex;
    margin-left: 17px;
    margin-top: 24px;
    width: 350px;
    height: 67px
  }
  .style58 {
    margin-left: 0;
    width: 67px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row5column1 {
    display: flex;
    margin-left: 13px;
    width: 93px;
    height: 59px;
    flex-direction: column
  }
  .style64 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .6875em;
    font-weight: 700;
    margin-top: 0;
    height: 17px
  }
  .style62,
  .style63 {
    color: #757575;
    font-family: Arial,serif;
    font-size: .625em;
    margin-top: 10px;
    height: 12px
  }
  .style62 {
    color: #9a9a9a;
    font-size: .5em;
    height: 9px
  }
  .style60 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 34px;
    width: 37px;
    height: 37px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style61 {
    width: 9px;
    height: 11px
  }
  .style59 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuf0rp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 24px;
    width: 80px;
    height: 24px;
    align-self: center
  }
  .style39 {
    background-color: #242424;
    margin-left: 0;
    margin-top: 9px;
    width: 375px;
    height: 50px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0 {
    background-image: linear-gradient(0deg,#066bff 0,#01b8ff 100%);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px;
    align-items: center;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-top: 55px;
    width: 600px;
    height: 51px;
    align-items: flex-end
  }
  .style11 {
    margin-left: 0;
    width: 53px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 16px;
    height: 16px
  }
  .style8 {
    opacity: .3490196168422699;
    margin-left: 188px
  }
  .style10,
  .style9 {
    margin-left: 25px
  }
  .style10 {
    opacity: .3490196168422699
  }
  .style7 {
    margin-left: 203px;
    width: 51px;
    height: 100%
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 14px;
    width: 662px;
    height: 31px;
    align-items: stretch
  }
  .style12 {
    color: #fff;
    font-size: 1.28em;
    margin-left: 0
  }
  .style12,
  .style4,
  .style5,
  .style6 {
    font-family: 'Open Sans',serif;
    font-weight: 700
  }
  .style6 {
    color: #fff;
    margin-left: 434px;
    font-size: 1.28em
  }
  .style4,
  .style5 {
    color: rgba(199,231,253,.3019607961177826);
    font-size: 2.432em;
    margin-top: 63px;
    height: 57px
  }
  .style5 {
    color: rgba(199,231,253,.7490196228027344);
    margin-top: 0
  }
  .style2 {
    background-color: #5cc1ff;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    display: flex;
    margin-top: 74px;
    width: 338px;
    height: 338px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    width: 207px;
    height: 223px
  }
  .style1 {
    margin-top: 184px;
    width: 125px;
    height: 125px
  }
  .style19 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 633px;
    flex-direction: column
  }
  .iphone6782container1row0 {
    position: relative;
    display: flex;
    margin-left: 319px;
    margin-top: 78px;
    width: 416px;
    height: 41px;
    flex-shrink: 0
  }
  .style25 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.792em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style21 {
    position: relative;
    margin-left: 246px;
    margin-top: 14px;
    width: 37px;
    height: 37px;
    flex-shrink: 0
  }
  .iphone6782container1row1 {
    display: flex;
    margin-top: 27px;
    width: 104px;
    height: 16px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style22,
  .style24 {
    opacity: .3490196168422699
  }
  .style22,
  .style23,
  .style24 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 16px
  }
  .style20 {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5019607843137255);
    position: relative;
    margin-top: 37px;
    width: 420px;
    height: 616px;
    align-self: center;
    flex-shrink: 0
  }
  .style13 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 731px;
    flex-direction: column
  }
  .style17,
  .style18 {
    font-family: 'Open Sans',serif
  }
  .style18 {
    margin-left: 270px;
    color: #fe5511;
    font-size: 2.56em;
    font-weight: 700;
    margin-top: 262px;
    height: 61px
  }
  .style17 {
    color: #202020;
    font-size: 1.6640000000000001em;
    font-weight: 600;
    margin-top: 12px;
    height: 39px;
    align-self: center
  }
  .style14 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 57px;
    width: 385px;
    height: 100px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.6640000000000001em;
    font-weight: 700;
    height: 39px
  }
  .style32 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 633px;
    flex-direction: column
  }
  .iphone6783container1row0 {
    position: relative;
    display: flex;
    margin-left: 319px;
    margin-top: 78px;
    width: 416px;
    height: 41px;
    flex-shrink: 0
  }
  .style38 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.792em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style34 {
    position: relative;
    margin-left: 246px;
    margin-top: 14px;
    width: 37px;
    height: 37px;
    flex-shrink: 0
  }
  .iphone6783container1row1 {
    display: flex;
    margin-top: 27px;
    width: 104px;
    height: 16px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style35,
  .style37 {
    opacity: .3490196168422699
  }
  .style35,
  .style36,
  .style37 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 16px
  }
  .style33 {
    position: relative;
    margin-top: 29px;
    width: 442px;
    height: 666px;
    align-self: center;
    flex-shrink: 0
  }
  .style26 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 731px;
    align-items: center;
    flex-direction: column
  }
  .style30,
  .style31 {
    color: #65c;
    font-family: 'Open Sans',serif;
    font-size: 2.432em;
    font-weight: 700;
    margin-top: 266px;
    height: 57px
  }
  .style30 {
    color: #202020;
    font-size: 1.6640000000000001em;
    font-weight: 600;
    margin-top: 8px;
    height: 39px
  }
  .style27 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 61px;
    width: 385px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style28 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.6640000000000001em;
    font-weight: 700;
    height: 39px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style65 {
    background-color: #fff;
    display: flex;
    margin-left: 2px;
    margin-top: 0;
    width: 766px;
    height: 483px;
    flex-direction: column
  }
  .iphone6784container1row0 {
    display: flex;
    margin-left: 33px;
    margin-top: 45px;
    width: 449px;
    height: 47px;
    align-items: stretch
  }
  .style70 {
    margin-left: 0;
    width: 35px
  }
  .style69 {
    color: #202020;
    font-family: 'Open Sans',serif;
    font-size: 2.048em;
    font-weight: 700;
    margin-left: 215px
  }
  .iphone6784container1row1 {
    display: flex;
    margin-top: 25px;
    width: 102px;
    height: 16px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style66,
  .style67,
  .style68 {
    background-color: #b4b4b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 16px
  }
  .style67 {
    background-color: #08f
  }
  .style71 {
    margin-top: 74px;
    width: 137px;
    height: 131px;
    align-self: center
  }
  .style72 {
    color: #0086ff;
    font-family: 'Open Sans',serif;
    font-size: 1.6640000000000001em;
    font-weight: 700;
    margin-top: 57px;
    height: 39px;
    align-self: center
  }
  .style73 {
    background-color: #f55511;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 100px;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784container5row0 {
    display: flex;
    margin-left: 33px;
    width: 666px;
    height: 47px;
    align-items: stretch
  }
  .style76 {
    margin-left: 0;
    width: 43px
  }
  .style74,
  .style75 {
    color: #fefefe;
    font-family: Arial,serif;
    font-size: 1.792em;
    margin-left: 18px
  }
  .style74 {
    font-family: 'Open Sans',serif;
    font-size: 2.048em;
    font-weight: 600;
    margin-left: 213px
  }
  .style40 {
    background-color: #0086ff;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    display: flex;
    margin-left: 68px;
    margin-top: 33px;
    width: 633px;
    height: 86px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784btnprimaryfullrow0 {
    display: flex;
    width: 197px;
    height: 41px;
    align-items: stretch
  }
  .style41 {
    margin-left: 0;
    width: 27px
  }
  .style42 {
    color: #fefefe;
    font-family: 'Open Sans',serif;
    font-size: 1.792em;
    font-weight: 700;
    margin-left: 29px
  }
  .iphone6784row3 {
    display: flex;
    margin-left: 35px;
    margin-top: 37px;
    width: 717px;
    height: 137px
  }
  .style44 {
    margin-left: 0;
    width: 137px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row3column1 {
    display: flex;
    margin-left: 27px;
    width: 190px;
    height: 121px;
    flex-direction: column
  }
  .style50 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.408em;
    font-weight: 700;
    margin-top: 0;
    height: 35px
  }
  .style48,
  .style49 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.28em;
    margin-top: 20px;
    height: 25px
  }
  .style48 {
    color: #9a9a9a;
    font-size: 1.024em;
    height: 18px
  }
  .style46 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 70px;
    width: 76px;
    height: 76px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    width: 18px;
    height: 23px
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuey8n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 49px;
    width: 164px;
    height: 49px;
    align-self: center
  }
  .iphone6784row4 {
    display: flex;
    margin-left: 35px;
    margin-top: 49px;
    width: 717px;
    height: 137px
  }
  .style51 {
    margin-left: 0;
    width: 137px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row4column1 {
    display: flex;
    margin-left: 27px;
    width: 190px;
    height: 121px;
    flex-direction: column
  }
  .style57 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.408em;
    font-weight: 700;
    margin-top: 0;
    height: 35px
  }
  .style55,
  .style56 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.28em;
    margin-top: 20px;
    height: 25px
  }
  .style55 {
    color: #9a9a9a;
    font-size: 1.024em;
    height: 18px
  }
  .style53 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 70px;
    width: 76px;
    height: 76px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style54 {
    width: 18px;
    height: 23px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuezha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 49px;
    width: 164px;
    height: 49px;
    align-self: center
  }
  .iphone6784row5 {
    display: flex;
    margin-left: 35px;
    margin-top: 49px;
    width: 717px;
    height: 137px
  }
  .style58 {
    margin-left: 0;
    width: 137px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row5column1 {
    display: flex;
    margin-left: 27px;
    width: 190px;
    height: 121px;
    flex-direction: column
  }
  .style64 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.408em;
    font-weight: 700;
    margin-top: 0;
    height: 35px
  }
  .style62,
  .style63 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.28em;
    margin-top: 20px;
    height: 25px
  }
  .style62 {
    color: #9a9a9a;
    font-size: 1.024em;
    height: 18px
  }
  .style60 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 70px;
    width: 76px;
    height: 76px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style61 {
    width: 18px;
    height: 23px
  }
  .style59 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuf0rp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 49px;
    width: 164px;
    height: 49px;
    align-self: center
  }
  .style39 {
    background-color: #242424;
    margin-left: 0;
    margin-top: 18px;
    width: 768px;
    height: 102px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0 {
    background-image: linear-gradient(0deg,#066bff 0,#01b8ff 100%);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px;
    align-items: center;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-top: 66px;
    width: 719px;
    height: 61px;
    align-items: flex-end
  }
  .style11 {
    margin-left: 0;
    width: 64px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20px;
    height: 20px
  }
  .style8 {
    opacity: .3490196168422699;
    margin-left: 226px
  }
  .style10,
  .style9 {
    margin-left: 29px
  }
  .style10 {
    opacity: .3490196168422699
  }
  .style7 {
    margin-left: 243px;
    width: 61px;
    height: 100%
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 17px;
    width: 792px;
    height: 37px;
    align-items: stretch
  }
  .style12 {
    color: #fff;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .style12,
  .style4,
  .style5,
  .style6 {
    font-family: 'Open Sans',serif;
    font-weight: 700
  }
  .style6 {
    color: #fff;
    margin-left: 520px;
    font-size: 1.5333333333333332em
  }
  .style4,
  .style5 {
    color: rgba(199,231,253,.3019607961177826);
    font-size: 2.913333333333333em;
    margin-top: 76px;
    height: 69px
  }
  .style5 {
    color: rgba(199,231,253,.7490196228027344);
    margin-top: 0
  }
  .style2 {
    background-color: #5cc1ff;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    display: flex;
    margin-top: 88px;
    width: 405px;
    height: 405px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    width: 248px;
    height: 267px
  }
  .style1 {
    margin-top: 221px;
    width: 150px;
    height: 150px
  }
  .style19 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 758px;
    flex-direction: column
  }
  .iphone6782container1row0 {
    position: relative;
    display: flex;
    margin-left: 383px;
    margin-top: 93px;
    width: 498px;
    height: 49px;
    flex-shrink: 0
  }
  .style25 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.1466666666666665em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style21 {
    position: relative;
    margin-left: 294px;
    margin-top: 17px;
    width: 44px;
    height: 44px;
    flex-shrink: 0
  }
  .iphone6782container1row1 {
    display: flex;
    margin-top: 32px;
    width: 125px;
    height: 20px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style22,
  .style24 {
    opacity: .3490196168422699
  }
  .style22,
  .style23,
  .style24 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20px
  }
  .style20 {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5019607843137255);
    position: relative;
    margin-top: 44px;
    width: 503px;
    height: 738px;
    align-self: center;
    flex-shrink: 0
  }
  .style13 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 876px;
    flex-direction: column
  }
  .style17,
  .style18 {
    font-family: 'Open Sans',serif
  }
  .style18 {
    margin-left: 324px;
    color: #fe5511;
    font-size: 3.0666666666666664em;
    font-weight: 700;
    margin-top: 314px;
    height: 74px
  }
  .style17 {
    color: #202020;
    font-size: 1.9933333333333332em;
    font-weight: 600;
    margin-top: 15px;
    height: 47px;
    align-self: center
  }
  .style14 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 69px;
    width: 461px;
    height: 120px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.9933333333333332em;
    font-weight: 700;
    height: 47px
  }
  .style32 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 758px;
    flex-direction: column
  }
  .iphone6783container1row0 {
    position: relative;
    display: flex;
    margin-left: 383px;
    margin-top: 93px;
    width: 498px;
    height: 49px;
    flex-shrink: 0
  }
  .style38 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.1466666666666665em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style34 {
    position: relative;
    margin-left: 294px;
    margin-top: 17px;
    width: 44px;
    height: 44px;
    flex-shrink: 0
  }
  .iphone6783container1row1 {
    display: flex;
    margin-top: 32px;
    width: 125px;
    height: 20px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style35,
  .style37 {
    opacity: .3490196168422699
  }
  .style35,
  .style36,
  .style37 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20px
  }
  .style33 {
    position: relative;
    margin-top: 34px;
    width: 530px;
    height: 797px;
    align-self: center;
    flex-shrink: 0
  }
  .style26 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 876px;
    align-items: center;
    flex-direction: column
  }
  .style30,
  .style31 {
    color: #65c;
    font-family: 'Open Sans',serif;
    font-size: 2.913333333333333em;
    font-weight: 700;
    margin-top: 319px;
    height: 69px
  }
  .style30 {
    color: #202020;
    font-size: 1.9933333333333332em;
    font-weight: 600;
    margin-top: 10px;
    height: 47px
  }
  .style27 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 74px;
    width: 461px;
    height: 120px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style28 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 1.9933333333333332em;
    font-weight: 700;
    height: 47px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style65 {
    background-color: #fff;
    display: flex;
    margin-left: 2px;
    margin-top: 0;
    width: 918px;
    height: 579px;
    flex-direction: column
  }
  .iphone6784container1row0 {
    display: flex;
    margin-left: 39px;
    margin-top: 54px;
    width: 537px;
    height: 56px;
    align-items: stretch
  }
  .style70 {
    margin-left: 0;
    width: 42px
  }
  .style69 {
    color: #202020;
    font-family: 'Open Sans',serif;
    font-size: 2.453333333333333em;
    font-weight: 700;
    margin-left: 258px
  }
  .iphone6784container1row1 {
    display: flex;
    margin-top: 29px;
    width: 123px;
    height: 20px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style66,
  .style67,
  .style68 {
    background-color: #b4b4b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20px
  }
  .style67 {
    background-color: #08f
  }
  .style71 {
    margin-top: 88px;
    width: 164px;
    height: 157px;
    align-self: center
  }
  .style72 {
    color: #0086ff;
    font-family: 'Open Sans',serif;
    font-size: 1.9933333333333332em;
    font-weight: 700;
    margin-top: 69px;
    height: 47px;
    align-self: center
  }
  .style73 {
    background-color: #f55511;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 120px;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784container5row0 {
    display: flex;
    margin-left: 39px;
    width: 797px;
    height: 56px;
    align-items: stretch
  }
  .style76 {
    margin-left: 0;
    width: 52px
  }
  .style74,
  .style75 {
    color: #fefefe;
    font-family: Arial,serif;
    font-size: 2.1466666666666665em;
    margin-left: 22px
  }
  .style74 {
    font-family: 'Open Sans',serif;
    font-size: 2.453333333333333em;
    font-weight: 600;
    margin-left: 255px
  }
  .style40 {
    background-color: #0086ff;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    display: flex;
    margin-left: 81px;
    margin-top: 39px;
    width: 758px;
    height: 103px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784btnprimaryfullrow0 {
    display: flex;
    width: 236px;
    height: 49px;
    align-items: stretch
  }
  .style41 {
    margin-left: 0;
    width: 32px
  }
  .style42 {
    color: #fefefe;
    font-family: 'Open Sans',serif;
    font-size: 2.1466666666666665em;
    font-weight: 700;
    margin-left: 34px
  }
  .iphone6784row3 {
    display: flex;
    margin-left: 42px;
    margin-top: 44px;
    width: 859px;
    height: 164px
  }
  .style44 {
    margin-left: 0;
    width: 164px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row3column1 {
    display: flex;
    margin-left: 32px;
    width: 228px;
    height: 145px;
    flex-direction: column
  }
  .style50 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.6866666666666665em;
    font-weight: 700;
    margin-top: 0;
    height: 42px
  }
  .style48,
  .style49 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.5333333333333332em;
    margin-top: 25px;
    height: 29px
  }
  .style48 {
    color: #9a9a9a;
    font-size: 1.2266666666666666em;
    height: 22px
  }
  .style46 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 83px;
    width: 91px;
    height: 91px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    width: 22px;
    height: 27px
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuey8n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 59px;
    width: 196px;
    height: 59px;
    align-self: center
  }
  .iphone6784row4 {
    display: flex;
    margin-left: 42px;
    margin-top: 59px;
    width: 859px;
    height: 164px
  }
  .style51 {
    margin-left: 0;
    width: 164px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row4column1 {
    display: flex;
    margin-left: 32px;
    width: 228px;
    height: 145px;
    flex-direction: column
  }
  .style57 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.6866666666666665em;
    font-weight: 700;
    margin-top: 0;
    height: 42px
  }
  .style55,
  .style56 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.5333333333333332em;
    margin-top: 25px;
    height: 29px
  }
  .style55 {
    color: #9a9a9a;
    font-size: 1.2266666666666666em;
    height: 22px
  }
  .style53 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 83px;
    width: 91px;
    height: 91px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style54 {
    width: 22px;
    height: 27px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuezha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 59px;
    width: 196px;
    height: 59px;
    align-self: center
  }
  .iphone6784row5 {
    display: flex;
    margin-left: 42px;
    margin-top: 59px;
    width: 859px;
    height: 164px
  }
  .style58 {
    margin-left: 0;
    width: 164px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row5column1 {
    display: flex;
    margin-left: 32px;
    width: 228px;
    height: 145px;
    flex-direction: column
  }
  .style64 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.6866666666666665em;
    font-weight: 700;
    margin-top: 0;
    height: 42px
  }
  .style62,
  .style63 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 1.5333333333333332em;
    margin-top: 25px;
    height: 29px
  }
  .style62 {
    color: #9a9a9a;
    font-size: 1.2266666666666666em;
    height: 22px
  }
  .style60 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 83px;
    width: 91px;
    height: 91px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style61 {
    width: 22px;
    height: 27px
  }
  .style59 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuf0rp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 59px;
    width: 196px;
    height: 59px;
    align-self: center
  }
  .style39 {
    background-color: #242424;
    margin-left: 0;
    margin-top: 22px;
    width: 920px;
    height: 123px
  }
}
@media (min-width:1200px) {
  .style0 {
    background-image: linear-gradient(0deg,#066bff 0,#01b8ff 100%);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px;
    align-items: center;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-top: 86px;
    width: 938px;
    height: 80px;
    align-items: flex-end
  }
  .style11 {
    margin-left: 0;
    width: 83px;
    height: 100%
  }
  .style10,
  .style8,
  .style9 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 26px;
    height: 26px
  }
  .style8 {
    opacity: .3490196168422699;
    margin-left: 294px
  }
  .style10,
  .style9 {
    margin-left: 38px
  }
  .style10 {
    opacity: .3490196168422699
  }
  .style7 {
    margin-left: 317px;
    width: 80px;
    height: 100%
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 22px;
    width: 1034px;
    height: 48px;
    align-items: stretch
  }
  .style12 {
    color: #fff;
    font-size: 2em;
    margin-left: 0
  }
  .style12,
  .style4,
  .style5,
  .style6 {
    font-family: 'Open Sans',serif;
    font-weight: 700
  }
  .style6 {
    color: #fff;
    margin-left: 678px;
    font-size: 2em
  }
  .style4,
  .style5 {
    color: rgba(199,231,253,.3019607961177826);
    font-size: 3.8000000000000003em;
    margin-top: 99px;
    height: 90px
  }
  .style5 {
    color: rgba(199,231,253,.7490196228027344);
    margin-top: 0
  }
  .style2 {
    background-color: #5cc1ff;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    display: flex;
    margin-top: 115px;
    width: 528px;
    height: 528px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    width: 323px;
    height: 349px
  }
  .style1 {
    margin-top: 288px;
    width: 195px;
    height: 195px
  }
  .style19 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 989px;
    flex-direction: column
  }
  .iphone6782container1row0 {
    position: relative;
    display: flex;
    margin-left: 499px;
    margin-top: 122px;
    width: 650px;
    height: 64px;
    flex-shrink: 0
  }
  .style25 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.8000000000000003em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style21 {
    position: relative;
    margin-left: 384px;
    margin-top: 22px;
    width: 58px;
    height: 58px;
    flex-shrink: 0
  }
  .iphone6782container1row1 {
    display: flex;
    margin-top: 42px;
    width: 163px;
    height: 26px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style22,
  .style24 {
    opacity: .3490196168422699
  }
  .style22,
  .style23,
  .style24 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 26px
  }
  .style20 {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5019607843137255);
    position: relative;
    margin-top: 58px;
    width: 656px;
    height: 963px;
    align-self: center;
    flex-shrink: 0
  }
  .style13 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 1142px;
    flex-direction: column
  }
  .style17,
  .style18 {
    font-family: 'Open Sans',serif
  }
  .style18 {
    margin-left: 422px;
    color: #fe5511;
    font-size: 4em;
    font-weight: 700;
    margin-top: 410px;
    height: 96px
  }
  .style17 {
    color: #202020;
    font-size: 2.6em;
    font-weight: 600;
    margin-top: 19px;
    height: 61px;
    align-self: center
  }
  .style14 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 90px;
    width: 602px;
    height: 157px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.6em;
    font-weight: 700;
    height: 61px
  }
  .style32 {
    background-color: #08f;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 989px;
    flex-direction: column
  }
  .iphone6783container1row0 {
    position: relative;
    display: flex;
    margin-left: 499px;
    margin-top: 122px;
    width: 650px;
    height: 64px;
    flex-shrink: 0
  }
  .style38 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.8000000000000003em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style34 {
    position: relative;
    margin-left: 384px;
    margin-top: 22px;
    width: 58px;
    height: 58px;
    flex-shrink: 0
  }
  .iphone6783container1row1 {
    display: flex;
    margin-top: 42px;
    width: 163px;
    height: 26px;
    align-items: stretch;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between
  }
  .style35,
  .style37 {
    opacity: .3490196168422699
  }
  .style35,
  .style36,
  .style37 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 26px
  }
  .style33 {
    position: relative;
    margin-top: 45px;
    width: 691px;
    height: 1040px;
    align-self: center;
    flex-shrink: 0
  }
  .style26 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 1142px;
    align-items: center;
    flex-direction: column
  }
  .style30,
  .style31 {
    color: #65c;
    font-family: 'Open Sans',serif;
    font-size: 3.8000000000000003em;
    font-weight: 700;
    margin-top: 416px;
    height: 90px
  }
  .style30 {
    color: #202020;
    font-size: 2.6em;
    font-weight: 600;
    margin-top: 13px;
    height: 61px
  }
  .style27 {
    background-color: #08f;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 96px;
    width: 602px;
    height: 157px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style28 {
    color: #fff;
    font-family: 'Open Sans',serif;
    font-size: 2.6em;
    font-weight: 700;
    height: 61px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style65 {
    background-color: #fff;
    display: flex;
    margin-left: 3px;
    margin-top: 0;
    width: 1197px;
    height: 755px;
    flex-direction: column
  }
  .iphone6784container1row0 {
    display: flex;
    margin-left: 51px;
    margin-top: 70px;
    width: 701px;
    height: 74px;
    align-items: stretch
  }
  .style70 {
    margin-left: 0;
    width: 54px
  }
  .style69 {
    color: #202020;
    font-family: 'Open Sans',serif;
    font-size: 3.2em;
    font-weight: 700;
    margin-left: 336px
  }
  .iphone6784container1row1 {
    display: flex;
    margin-top: 38px;
    width: 160px;
    height: 26px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style66,
  .style67,
  .style68 {
    background-color: #b4b4b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 26px
  }
  .style67 {
    background-color: #08f
  }
  .style71 {
    margin-top: 115px;
    width: 214px;
    height: 205px;
    align-self: center
  }
  .style72 {
    color: #0086ff;
    font-family: 'Open Sans',serif;
    font-size: 2.6em;
    font-weight: 700;
    margin-top: 90px;
    height: 61px;
    align-self: center
  }
  .style73 {
    background-color: #f55511;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 157px;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784container5row0 {
    display: flex;
    margin-left: 51px;
    width: 1040px;
    height: 74px;
    align-items: stretch
  }
  .style76 {
    margin-left: 0;
    width: 67px
  }
  .style74,
  .style75 {
    color: #fefefe;
    font-family: Arial,serif;
    font-size: 2.8000000000000003em;
    margin-left: 29px
  }
  .style74 {
    font-family: 'Open Sans',serif;
    font-size: 3.2em;
    font-weight: 600;
    margin-left: 333px
  }
  .style40 {
    background-color: #0086ff;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.25098039215686274);
    display: flex;
    margin-left: 106px;
    margin-top: 51px;
    width: 989px;
    height: 134px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .iphone6784btnprimaryfullrow0 {
    display: flex;
    width: 307px;
    height: 64px;
    align-items: stretch
  }
  .style41 {
    margin-left: 0;
    width: 42px
  }
  .style42 {
    color: #fefefe;
    font-family: 'Open Sans',serif;
    font-size: 2.8000000000000003em;
    font-weight: 700;
    margin-left: 45px
  }
  .iphone6784row3 {
    display: flex;
    margin-left: 54px;
    margin-top: 58px;
    width: 1120px;
    height: 214px
  }
  .style44 {
    margin-left: 0;
    width: 214px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row3column1 {
    display: flex;
    margin-left: 42px;
    width: 298px;
    height: 189px;
    flex-direction: column
  }
  .style50 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 0;
    height: 54px
  }
  .style48,
  .style49 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 2em;
    margin-top: 32px;
    height: 38px
  }
  .style48 {
    color: #9a9a9a;
    font-size: 1.6em;
    height: 29px
  }
  .style46 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 109px;
    width: 118px;
    height: 118px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style47 {
    width: 29px;
    height: 35px
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuey8n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 77px;
    width: 256px;
    height: 77px;
    align-self: center
  }
  .iphone6784row4 {
    display: flex;
    margin-left: 54px;
    margin-top: 77px;
    width: 1120px;
    height: 214px
  }
  .style51 {
    margin-left: 0;
    width: 214px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row4column1 {
    display: flex;
    margin-left: 42px;
    width: 298px;
    height: 189px;
    flex-direction: column
  }
  .style57 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 0;
    height: 54px
  }
  .style55,
  .style56 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 2em;
    margin-top: 32px;
    height: 38px
  }
  .style55 {
    color: #9a9a9a;
    font-size: 1.6em;
    height: 29px
  }
  .style53 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 109px;
    width: 118px;
    height: 118px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style54 {
    width: 29px;
    height: 35px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuezha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 77px;
    width: 256px;
    height: 77px;
    align-self: center
  }
  .iphone6784row5 {
    display: flex;
    margin-left: 54px;
    margin-top: 77px;
    width: 1120px;
    height: 214px
  }
  .style58 {
    margin-left: 0;
    width: 214px;
    height: 100%;
    align-self: stretch
  }
  .iphone6784row5column1 {
    display: flex;
    margin-left: 42px;
    width: 298px;
    height: 189px;
    flex-direction: column
  }
  .style64 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 0;
    height: 54px
  }
  .style62,
  .style63 {
    color: #757575;
    font-family: Arial,serif;
    font-size: 2em;
    margin-top: 32px;
    height: 38px
  }
  .style62 {
    color: #9a9a9a;
    font-size: 1.6em;
    height: 29px
  }
  .style60 {
    border-left: 1px solid #020202;
    border-right: 1px solid #020202;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    margin-left: 109px;
    width: 118px;
    height: 118px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style61 {
    width: 29px;
    height: 35px
  }
  .style59 {
    background-image: url(https://designresources.assets.yotako.io/3hfm02ck0uuf0rp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 77px;
    width: 256px;
    height: 77px;
    align-self: center
  }
  .style39 {
    background-color: #242424;
    margin-left: 0;
    margin-top: 29px;
    width: 1200px;
    height: 160px
  }
}